extends layout

block content
  h2 Add New Asset Category

  form(action="/categories" method="POST")
    div.form-group
      label(for="name") Name
      input#name.form-control(type="text" name="name" placeholder="Enter category name" required)

    div.form-group
      label(for="description") Description
      textarea#description.form-control(name="description" rows="3" placeholder="Enter description")

    button(type="submit" class="btn btn-success") Save
    a(href="/asset-categories" class="btn btn-secondary") Cancel
